.modal-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    /* min-width: 50%; */
    /* height: 100%; */
}

/* Media query for screens smaller than 600px */
@media (max-width: 600px) {
    .modal-content {
        width: 95%;
        padding: 15px;
    }
}

/* Media query for screens smaller than 400px */
@media (max-width: 400px) {
    .modal-content {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
    }
}