.carousel-container {
    position: relative;
    width: 100vw; /* Set width to 100% of viewport width */
    height: 90vh;
    overflow: hidden; /* Ensure the overflow is hidden */
  }
  
  .carousel-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black color */
  }
  
  .slide {
    display: none;
    width: 100%; /* Set slide width to 100% */
  }
  
  .slide img {
    width: 100%; /* Set image width to 100% of its container */
    height: auto; /* Maintain aspect ratio */
  }
  
  .slide.active {
    display: block;
  }
  
  .overlay-text {
    position: absolute;
    width: 90%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: left;
  }

  .overlay-icon {
    position: absolute;
    top: 18%;
    right: 1%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: right;
  }

  .overlay-box {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
  }

  